.main1 {
  display: flex;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVKMf4SVMlGgYTBaghsezkXIvS3-29yqFql9Y9H_rP09jnfnV8SFettJCt4wkZBBjt2Y&usqp=CAU");
  height: 100%;
  width: 100%;
  background-repeat: none;
  background-size: cover;
}
@media screen and (min-width: 0px) and (max-width: 450px) {
  * {
    overflow: auto;
  }
  .main1 {
    display: block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVKMf4SVMlGgYTBaghsezkXIvS3-29yqFql9Y9H_rP09jnfnV8SFettJCt4wkZBBjt2Y&usqp=CAU");
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
  }
}
@media screen and (min-width: 451px) and (max-width: 768px) {
  * {
    overflow: auto;
  }
  .main1 {
    display: block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVKMf4SVMlGgYTBaghsezkXIvS3-29yqFql9Y9H_rP09jnfnV8SFettJCt4wkZBBjt2Y&usqp=CAU");
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    overflow: auto;
  }
  .main1 {
    display: block;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJVKMf4SVMlGgYTBaghsezkXIvS3-29yqFql9Y9H_rP09jnfnV8SFettJCt4wkZBBjt2Y&usqp=CAU");
    height: 100%;
    width: 100%;
    background-repeat: none;
    background-size: cover;
  }
}
